<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="XMLdir" value="\\uemf-file01\network-drive-utility$\dev" />
    <add key="dataDir" value="\\uemf-file01\network-drive-utility$\dev"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
